<!--TODO: DA RIVEDERE-->


{% extends "base_generic.html" %}

{% block content %}
  <h1>Modifica Materiali</h1>
  {% if lista_modifica_materiale %}
    <ul>
      {% for materiale in lista_modifica_materiale %}
      <li>
        <a href="modifica_materiale/{{ materiale.pk }}">{{ materiale.codice }}</a>
        "{{ materiale.descrizione }}"
        <!--TODO: materiale. fai la somma dei movimenti del materiale per vedere quanti pezzi sono disponibili-->
        numeri
        {{materiale.unita_misura}}
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Non ci sono materiali registrati.</p>
  {% endif %}
{% endblock %}