{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista Materiali</h1>
  {% if materiale_list %}
    <ul>
      {% for materiale in materiale_list %}
      <li>
        <pre><a href="{{ materiale.get_absolute_url }}">{{ materiale.codice }}</a> "{{materiale.descrizione}}" Sottoscorta: {{materiale.sottoscorta}}
          {% if materiale.giacenza >= materiale.sottoscorta %}<b style="background-color: LightGreen;">{{materiale.giacenza}} {{materiale.unita_misura}}</b>{% else %}<b style="background-color: red;">{{materiale.giacenza}} {{materiale.unita_misura}}</b>{% endif %}
        </pre>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Non ci sono materiali registrati.</p>
  {% endif %}
{% endblock %}