{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista Movimenti</h1>
  {% if movimenti_list %}
    <ul>
      {% for movimenti in movimenti_list %}
      <li>
        <a href="{{ movimenti.get_absolute_url }}">{{ movimenti.materiale.codice }}</a>
        "{{ movimenti.materiale.descrizione }}"
        ({{movimenti.quantita}})
        ({{movimenti.magazzino}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Non ci sono Movimenti registrati.</p>
  {% endif %}
{% endblock %}