{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista Movimenti</h1>
  {% if movimenti_list %}
    <ul>
      {% for movimenti in movimenti_list %}
      <li>
        <a href="{{ movimenti.get_absolute_url }}">{{ movimenti.materiale.codice }}</a>
        "{{ movimenti.materiale.descrizione }}"
        {% if movimenti.quantita < 0 %} <b style="background-color: red"> ↓({{movimenti.quantita}}) </b> {% else %} <b style="background-color: LightGreen"> ↑({{movimenti.quantita}})</b> {% endif %}
        ({{movimenti.magazzino}})
        {{movimenti.data_movimento}}
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Non ci sono Movimenti registrati.</p>
  {% endif %}
{% endblock %}